.App {
  display: grid;
  grid-template-rows: 100px auto auto;
  grid-template-areas: "header header" "nav nav" "main main";
}

.main-content {
  grid-area: main;
}

.Header {
  grid-area: header;
  border: hidden 2px;
  margin: 10px;
}

.Header link {
  text-decoration: none;
}

.Header p {
  margin: 10px;
  border: 0;
}

.Header img {
  size: 25px;
}

.Nav {
  grid-area: nav;
  border: hidden 3px;
}

.ArticlesList {
  grid-area: main;
  border: none 3px;
  width: 100%;
}

.ArticlesList button {
  margin: 10px;
}

.NavList {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.NavList li {
  display: inline-flex;
}

.CommentSection {
  border: solid 3px black;
}

.ArticleCard {
  border: solid 3px black;
  margin: 10px;
}

.SingleArticle {
  margin: 10px;
}

.InputBox {
  width: 40%;
  height: 100px;
  margin: 10px;
  padding: 0;
}

.Votes {
  width: 200px;
}

.articleUpVoteButton {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin: 50 px;
}

.articleDownVoteButton {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
