.header-background {
  background-color: black;
  padding: 15px;
}

.Header p {
  border: 0;
  color: white;
  background-color: black;
}

.logo {
  height: 150px;
  width: 150px;
}

.ArticlesList {
  border: none 3px;
  width: 100%;
}

.ArticlesList button {
  margin: 10px;
}

.CommentSection {
  margin: 10px;
}

.SingleArticle {
  margin: 10px;
}

.InputBox {
  width: 40%;
  height: 100px;
  margin: 10px;
  padding: 0;
}

.Votes {
  width: 200px;
}

.upVoteButton {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin: 50 px;
}

.downVoteButton {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
