.header-background {
  background-color: black;
  padding: 15px;
}

.Header p {
  border: 0;
  color: white;
  background-color: black;
}

.Header h1 {
  color: darkred;
}

.Nav {
  border: hidden 3px;
  background-color: red;

  /* margin-top: 15px; */
}

.ArticlesList {
  border: none 3px;
  width: 100%;
}

.ArticlesList button {
  margin: 10px;
}

.NavList {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  border-width: 1px;
}

.NavList li {
  display: inline-flex;
}

.CommentSection {
  margin: 10px;
}

.SingleArticle {
  margin: 10px;
}

.InputBox {
  width: 40%;
  height: 100px;
  margin: 10px;
  padding: 0;
}

.Votes {
  width: 200px;
}

.articleUpVoteButton {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin: 50 px;
}

.articleDownVoteButton {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.commentUpVoteButton {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin: 50 px;
}

.commentDownVoteButton {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
